*,
::before,
::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.topbox{
    color: white;
   font-weight: 600;
   font-size:larger;
   text-decoration: none;
   
  
 }
 .btn-lgg:hover{
    color:white ;
    background-color: rgb(32, 31, 84) ;
    
 }
 
    

    
 
 .why:hover{ 
    
    padding-left: 20px;
    font-size:none;
    transition: .3s ease;

 }

 #box1{
   font-family: sans-serif;
   font-weight: 510;
   z-index:2;
   background-color: rgb(255 153 0);
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   position:fixed;
   display:flex;
   flex-shrink: initial;
   
   justify-content: center;
   height: 55px;
   width: 190px;
   left:83%;
   top: 0%;
   box-sizing:border-box;
   
}



.bg-custom {


 background-color: rgb(32, 31, 84); 
 height:1.25rem;
 width:100%;
 position:fixed;
 top:0%;
 left:0%;
 right: 0%;
 box-sizing: border-box;
 z-index:1;
 

}
.aboutme{
 background-color:rgb(32, 31, 84);  ;
}
.navbar{
 height:110px;
 z-index:1;
 display: flex;
 position:fixed;
 justify-content: space-around;
 margin-top:1.25rem;
 background-color:white;
 top:0%;
 left:0%;
 right: 0%;
 box-sizing: border-box;
 border-bottom: 3px solid rgb(243, 240, 240);


}
.navbar .nav-link{
 text-transform: uppercase;
 font-family: Open Sans, sans-serif;
 font-weight: 600;
 font-size: 13px;
 box-sizing: border-box;
 border-bottom: 3px solid white;
 

}

.navbar .nav-link:hover{
 border-bottom:3px solid  #4f4f4f ;
 
}

header{
 z-index:1;
 
}
.aboutus{
 background-color: rgb(255 153 0);

}

.textus
{
 color: rgb(255 153 0) ;
}

.main{
   position: relative;
   top:0%;

}

body{
   
    font-family: "Poppins", sans-serif;
    padding:0;
    margin:0;
}

.footer{
    padding: 70px 0;
    background:rgb(32, 31, 84);
}

.container{
    max-width: 1170px;
    margin: 50px auto 0;
}

.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

.footer-col{
    width:25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width:50px;
    background: rgb(255 153 0);
    box-sizing: border-box;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li > a{
    font-size: 16px;
    font-weight:300;
    color:#fff;
    text-transform: capitalize;
    text-decoration: none;
    color:#bbb;
    display: block;
    transition: .3s ease;
}

.footer-col ul li > a:hover{
    color:#fff;
    padding-left: 8px;
}

.footer-col .social-icons{
    font-size:16px;
}

.footer-col .social-icons > a{
    display:inline-block;
    width:40px;
    height:40px;
    text-align: center;
    margin:0 10px 10px 0;
    color:#bbb;
    transition: all .3s ease;
    text-decoration: none;
}


.footer-col .social-icons > a:hover{
    transform: translateY(-5px);
    color:#fff;
}

@media (max-width:768px){
    .footer-col{
        margin-bottom: 30px;
        width:50%;
    }
}

@media (max-width:539px){
    .footer-col{
        width:100%;
    }
}